PORT=3001

DB_HOST=localhost
DB_PORT=5434
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=auth_db

JWT_SECRET=cambia-esta-clave-por-una-propia-y-larga
JWT_TTL_SEGUNDOS=900
JWT_RENOVACION_GRACIA_SEGUNDOS=300

# 64 caracteres hex (32 bytes). Generar propio con:
# node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
AES_KEY_HEX=c0f9f1efe5a7ca743ea268e07b01dcff0539e93fb0d901e96401a0c0389423dd

CORREO_HASH_SECRET=otro-secreto-distinto-para-el-hash-del-correo
