PORT=3002

DB_HOST=localhost
DB_PORT=5434
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=comentarios_db

# Debe ser EXACTAMENTE el mismo valor que JWT_SECRET en auth-service.
JWT_SECRET=cambia-esta-clave-por-una-propia-y-larga
